body{
    background: #2f2f2f;
}
.errorcode{
    color: red;
    text-align: center;
    font-family: 'Recursive', sans-serif;
    font-size: 2.8rem;
}
img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}